* {
  margin: 0px;
}

body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  background-color: #1f2937;
  padding: 20px 100px 0px 100px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  margin-right: auto;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header-links {
  color: #e5e7eb;
}

.main-image {
  display: flex;
}
.main-image img {
  height: 300px;
  width: 500px;
  align-self: center;
}

.section1 {
  display: flex;
  padding: 80px 100px 80px 100px;
  background-color: #1f2937;
}

.block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-right: auto;
}

.hero-text-header {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.top-sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  margin-top: 10px;
  width: 115px;
}

.section2 {
  display: flex;
  flex-direction: column;
  padding: 0px 100px 80px 100px;
}

.section2 h2 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.items {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.item1,
.item2,
.item3,
.item4 {
  display: flex;
  flex-direction: column;
}

.items img {
  height: auto;
  width: 200px;
  border-radius: 10px;
  border: 5px;
  border-color: blue;
}

.items p {
  padding-top: 10px;
  width: 200px;
  font-size: 18px;
  color: #1f2937;
}

.section3 {
  display: flex;
  flex-direction: column;
  padding: 80px 200px 80px 200px;
  background-color: #e5e7eb;
}
.quote-box {
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.quote-author {
  align-self: flex-end;
}